{% load static %}
<html>
<head>
<title>GetYourGoods</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" media="screen" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.shop.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" media="screen" type="text/css" />
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</head>

<body id="checkout-page">
<!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><h2>GetYour<em>Goods</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home

                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'products' %}">Our Products</a>
                <span class="sr-only">(current)</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>
	       <li class="nav-item">
                <a class="nav-link" href="">My Profile</a>
              </li>
	      <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}"> <i class="fa fa-shopping-cart" style="font-size:24px 				color:white"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
<br><br><br>

<div id="site">
	<div id="content">
		<h1>Checkout</h1>
			<table id="checkout-cart" class="shopping-cart">
			  <thead>
				<tr>
					<th scope="col">Item</th>
					<th scope="col">Qty</th>
					<th scope="col">Price</th>
				</tr>
			  </thead>
			  <tbody>

			  </tbody>
			</table>
		 <div id="pricing">

			<p id="shipping">
				<strong>Shipping</strong>: <span id="sshipping"></span>
			</p>

			<p id="sub-total">
				<strong>Total</strong>: <span id="stotal"></span>
			</p>
		 </div>

		 <form method="post">
    <center>
    {% csrf_token %}
       {{ form.as_p }}<br>
        <br>
		<p><input type="submit" id="submit-order" value="Submit" class="btn" /></p>
        </center>




		 </form>
	</div>



</div>

<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; GetYourGoods Co., Ltd.

            - Contact: <a rel="nofollow noopener" href="contact.html" target="_blank">Goods</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>